/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	color: var(--tertiary-color);
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	line-height: calc(1em + 0.5rem);
}

:root {
	--primary-color: #c0c0c0;
	--secondary-color: #191970;
	--tertiary-color: #000000;
	--color-block-text: #00bfff;
	isolation: isolate;
}

#__next {
	isolation: isolate;
}

/* Path: christineBaxterPortfolio\assets\css\resume.css */
header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 15px;
	background: transparent url("../images/dataAnalyticsBackGround.png") center / cover no-repeat fixed;
	z-index: 9999;
}

.sticky {
	/* Styles for the sticky header */
	position: sticky;
	top: 0;
}

header .top-row {
	display: flex;
	justify-content: space-between;
}

header h1 {
	font-weight: bold;
	width: 215px;
	height: 95px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 3px;
	font-size: 34px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: inset;
	background-color: var(--color-block-text);
	border-radius: 5px;

	& a {
		color: var(--primary-color);
		text-decoration: none;
	}

	& a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 2px;
		border-radius: 4px;
		transform: scale3d(1.1, 1, 0.5);
	}
}

#resume-link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;

	& .default-text {
		position: absolute;
		left: 0px;
		top: 0px;
		text-align: center;
		border-radius: 4px;
		transition: opacity 0.3s;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

#resume-link .hover-text {
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	font-size: smaller;
	text-align: center;
	color: var(--primary-color);
	border-radius: 4px;
	transition: opacity 0.3s;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#resume-link:hover .default-text {
	opacity: 0;
	text-align: center;
}

#resume-link:hover .hover-text {
	opacity: 1;
	text-align: center;
}

header nav {

	display: flex;
	align-content: center;

	& ul {
		display: flex;
		list-style: none;
		padding: 5px;
		justify-content: space-between;
	}

	& ul li {
		padding: 0 2px;
		height: auto;
		display: flex;
		align-items: center;
	}

	& ul li a {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px 5px;
		width: 105px;
		white-space: normal;
		min-height: 35px;
		line-height: 1.2;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		box-shadow: inset;
		background: var(--primary-color);
		color: var(--secondary-color);
		border-radius: 15px;
		text-decoration: none;
	}

	& ul li a[data-hs-anchor="true"] {
		display: block;
		position: relative;
		visibility: hidden;
		top: -150px;
	}

	& ul li a[data-hs-anchor="true"]:target {
		visibility: visible;
		top: 0;
	}

	& ul li a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 3px;
		transform: scale3d(1.1, 1, 0.5);
	}
}

header .contact-position {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	text-shadow: 0 0 10px var(--tertiary-color)(0, 0, 0, 0.5);
	margin-top: 15px;

	& a {
		color: var(--primary-color);
		text-decoration: none;
	}

	& a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 2px;
		border-radius: 4px;
		transform: scale3d(1.1, 1, 0.5);
	}
}

footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background: var(--primary-color);
	padding: 10px 5px;

	& hr {
		width: 100%;
		height: 5px;
		background: var(--secondary-color);
		background-image: linear-gradient(to right, var(--secondary-color), var(--tertiary-color), var(--secondary-color));
	}

	& .ftr-text {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	& h2 {
		color: var(--secondary-color);
		text-align: left;
		margin: 0;
	}

	& p {
		text-align: right;
	}


	& a {
		color: var(--secondary-color);
		text-decoration: none;
	}

	& a:hover {
		background: var(--secondary-color);
		color: var(--primary-color);
		border: var(--color-block-text) solid 3px;
		border-width: 2px;
		border-radius: 4px;
		transform: scale3d(1.3, 1, 0.5);
	}
}


section {
	padding: 5px;
}

.content {
	background: var(--primary-color);
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
}

.content .sectionTitle {
	background: var(--color-block-text);

	& h2 {
		text-align: left;
		font-size: xx-large;
		padding-right: 10px;
		margin: 0;
		padding: 10px;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		box-shadow: inset;
		background-color: var(--color-block-text);
		border-radius: 5px;
	}
}

.content .sectionBody {
	background: var(--primary-color);
	display: flex;
	justify-content: space-evenly;
	align-items: top;

	& img {
		max-width: unset;
		height: 228px;
		width: 194px;
		padding-right: 10px;
	}

	& img:hover {
		transform: scale3d(1.1, 1, 0.5);
	}

	& p {
		text-align: left;
		margin: 0;
	}

	& h3 {
		padding-top: 15px;
	}

	&.degree-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px 50px;
		/* Optional: adds some space between your grid items */
	}
}

.project-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr auto);
	gap: 10px 25px;
	/* Optional: adds some space between your grid items */
}

.summaryText {
	display: flex;
	align-items: center;

	& p {
		font-size: larger;
	}
}

.degLine1,
.degLine2 {
	font-weight: normal;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.degDate {
	font-weight: normal;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.skills {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.col {
	display: flex;
	flex-flow: column nowrap;
}

.projectLinks {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

.jobTitle,
.jobRole {
	font-weight: normal;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
}

.jobBody h4 {
	padding-top: 10px;
}


@media screen and (max-width: 768px) {
	header .top-row {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	header h1 {
		width: 48%;
	}

	header nav {
		width: 48%;
	}

	header nav ul {
		justify-content: center;
	}

	header nav ul li {
		padding: 5px;
	}
}

@media screen and (max-width: 768px) {
	header nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	header nav ul li {
		width: 48%;
		padding: 5px;
		text-align: center;
	}

		header .contact-position {
			display: none;
}

@media screen and (max-width: 575px) {
	header .top-row {
		flex-direction: column;
		align-items: center;
	}

	header h1,
	header nav {
		width: 100%;
	}

	header nav ul {
		justify-content: center;
		/* font-size: smaller; */
	}
}

@media screen and (max-width: 575px) {
	header nav ul li {
		width: 100%;
		padding: 5px;
		text-align: center;
		flex-direction: column;
		align-items: center;
	}

	header .contact-position {
		flex-direction: column;
		align-items: center;
	}

	header .contact-position a {
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	header nav ul li {
		font-size: larger;
		/* Increases the font size */
		text-align: center;
		/* Aligns the text to center */
	}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
	header nav {
		gap: .25rem;
	}

	header nav ul {
		justify-content: center;
	}

	header nav ul li {
		padding: 5px;
	}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px),
(max-width: 350px) {

	header .top-row h1 {
		display: none;
	}
	
	header nav ul,
	.section-title,
	section,
	.content {
		justify-content: center;
		font-size: medium;
		width: 100%;
		padding: 5px;
		grid-template-columns: 2;
		gap: 5px;
	}

	section .sectionBody {
		flex-direction: column;
		align-items: center;
	}

	section .sectionBody .summaryText p {
		text-align: center;
	}

	.degree-container {
		grid-template-columns: 0.25fr;
	}
}

header nav ul li {
	width: 100px;
	/* Set a specific width; adjust as needed */
	text-align: center;
	/* Center-align the text */
	white-space: normal;
	/* Allow the text to wrap to the next line */
	min-height: 40px;
	/* Set a minimum height */
	line-height: 1.2;
	/* Adjust the line-height */
	padding: 5px;
	/* Add padding for spacing */
}

/* Styling for the hamburger icon */
.hamburger-menu {
	display: none;
	/* Hide by default */
	flex-direction: column;
	gap: 5px;
}

.bar {
	width: 25px;
	height: 3px;
	background: var(--tertiary-color);
}

/* Styling for the mobile navigation menu */
.mobile-nav {
	display: none;
	/* Hide by default */
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	/* Adjust as needed */
	height: 100%;
	background: var(--primary-color);
	overflow-y: scroll;
}

.mobile-nav.active {
	display: flex;
	/* Show when active */
}

/* Media query to show the hamburger menu on small screens */
@media screen and (max-width: 768px) {
	.hamburger-menu {
		display: flex;
		/* Show on small screens */
	}
}