/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	color: var(--tertiary-color);
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	line-height: calc(1em + 0.5rem);
}

:root {
	--primary-color: #c0c0c0;
	--secondary-color: #191970;
	--tertiary-color: #000000;
	--color-block-text: #00bfff;
	isolation: isolate;
}

#__next {
	isolation: isolate;
}

/* Path: christineBaxterPortfolio\assets\css\resume.css */
header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px 15px;
	background-color: transparent;
	background-image: url("../images/dataAnalyticsBackGround.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-position: center;
	z-index: 9999;
}

.sticky {
	/* Styles for the sticky header */
	position: sticky;
	top: 0;
}

header h1 {
	font-weight: bold;
	margin: 0;
	padding: 10px;
	font-size: 34px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: inset;
	background-color: var(--color-block-text);
	border-radius: 5px;
}

header nav {

	display: flex;
	align-content: center;
}

header nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}

header nav ul li {
	padding: 0 10px;
	height: auto;
	display: flex;
}

header nav ul li a {
	z-index: 1;
	padding: 10px 10px;
	font-weight: lighter;
	font-size: 1.5vw;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: inset;
	background: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 15px;
	text-decoration: none;
	align-self: center;
}

header nav ul li a[data-hs-anchor="true"] {
	display: block;
	position: relative;
	visibility: hidden;
	top: -150px;
}

header nav ul li a:hover {
	background: var(--secondary-color);
	color: var(--primary-color);
	border: var(--color-block-text) solid 3px;
	border-width: 3px;
	transform: scale3d(1.3, 1, 0.5);
}

.primary-border {
	border-color: var(--primary-color);
	border-right: 3px solid;
}

.secondary-border {
	border-color: var(--tertiary-color);
}

.tertiary-border {
	border-color: var(--secondary-color);
}



footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	background: var(--primary-color);
	width: 100%;
	padding: 10px 5px;
}

footer h2 {
	color: var(--secondary-color);
	font-size: .5em;
	margin: 0;
}

footer div {
	text-align: right;
}

footer a {
	color: var(--secondary-color);
}

.content {
	background: var(--primary-color);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 235px 1fr;
	grid-template-rows: repeat(2, auto);
	gap: 10px;
	align-content: space-around;
	justify-content: space-between;
}