:root {
	--primary-color: #c0c0c0;
	--secondary-color: #191970;
	--tertiary-color: #000000;
	--color-block-text: #00bfff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* apply styles to <body> */
	color: var(--tertiary-color);
	font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px 15px;
	background-color: transparent;
	background-image: url("../images/dataAnalyticsBackGround.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-position: center;
	z-index: 9999;
}

.sticky {
	/* Styles for the sticky header */
	position: sticky;
	top: 0;
}

header h1 {
	font-weight: bold;
	margin: 0;
	padding: 10px;
	font-size: 34px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: inset;
	background-color: var(--color-block-text);
	border-radius: 5px;
}

header h1 a {
	text-decoration: none;
	color: var(--tertiary-color);
	align-content: center;
}

header nav {
	
	display: flex;
	align-content: center;
}

header nav ul {
	list-style: none;	
	display: flex; 
	flex-wrap: wrap;	
	justify-content: space-between;
	align-items: center;
	padding: 5px;	
}

header nav ul li {
	padding: 0 10px;
	height: auto;
	display: flex;
}

header nav ul li a {
	z-index: 1;
	padding: 10px 10px;
	font-weight: lighter;
	font-size: 1.5vw;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: inset;
	background: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 15px;
	text-decoration: none;
	align-self: center;
}

header nav ul li a[data-hs-anchor="true"] {
	display: block;
	position: relative;
	visibility: hidden;
	top: -150px;
}

header nav ul li a:hover {
	background: var(--secondary-color);
	color: var(--primary-color);
	border: var(--color-block-text) solid 3px;
	border-width: 3px;
	transform: scale3d(1.3, 1, 0.5);
}

.primary-border {
	border-color: var(--primary-color);
	border-right: 3px solid;
}

.secondary-border {
	border-color: var(--tertiary-color);
}

footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	background: var(--primary-color);
	width: 100%;
	padding: 10px 5px;
	font-size: x-small;
}

footer h2 {
	color: var(--secondary-color);
	color: var(--secondary-color);
	font-size: .5em;
	color: var(--secondary-color);	
	font-size: .5em;
	margin: 0;
}

footer div {
	line-height: 1.5;
	text-align: right;	
}

footer a {
	color: var(--secondary-color);
}

section {
	padding: 5px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: .25rem;
	flex: 1;
}

/* Hero Style Start */
.hero {
	display: flex;
	justify-content: right;
	flex-wrap: wrap;
	background-image: url("../images/dataAnalyticsBackGround.jpeg");
	background-size: cover;
	background-position: center;
	align-items: flex-start;
	background-attachment: fixed;	
	background-position: 80%;
	background-color: var(--color-block-text);
}
/* Hero Style End */

.hero-subtitle {
	width: 100%;
	text-align: center;
	margin: 0.25%;
	line-height: 2;
}

.hero-subtitle h2 {
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-color: var(--color-block-text);
	font-size: 20px;
}

.content {
	background: var(--primary-color);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 235px 1fr;
	grid-template-rows: repeat(2, auto);
	gap: 10px;
	align-content: space-around;
	justify-content: space-between;
}

.box1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 5;
}

.content h2 {
	text-align: right;
	font-size: xx-large;
	padding-right: 10px;
}

.content-text {
	background: var(--primary-color);
	display: flex;
	flex-flow: row wrap;
	align-content: stretch;
}

.content-part {	
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

.content-part-img {
	flex: 1 15em;
	margin-right: 10px;
	padding: 5px;
}

.content-part-img img {
	width: 25%;
	height: auto;
}

.proPic {
	width: 225px;
	height: auto;
	/* flex: auto 1; */
	padding-right: 5px;
	padding-top: 0.7ch;
}

.content-text-proPic p {
	margin-left: 0;
	padding: 0.5ch;
}

.content-text-desc p {
	padding-bottom: 10px;
}

.content-text-desc h3 {
	padding-bottom: 5px;
}

.content-text-desc ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 5px;
}

.content-text-desc ul li {
	display: flex;
	align-items: flex-start;
	padding-bottom: 2.5px;
	/* Adjust the value as needed */
}

.content-text-desc ul li::before {
	content: "\2022";
	/* Bullet character */
	margin-right: 0.5em;
	/* Adjust the spacing between the bullet and text */
}

blockquote {
	margin: 0;
}

blockquote p {
	padding: 15px;
	background: #eee;
	border-radius: 5px;
}

blockquote p::before {
	content: "\201C";
}

blockquote p::after {
	content: "\201D";
}

q {
	font-style: italic;
}

.projType {
	margin: 0;
	padding: 1ch;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	display: block;
	background-color: var(--color-block-text);
	color: var(--tertiary-color);
	cursor: pointer;
	padding: 12px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: large;
}

/* Style the collapsible content. Note: hidden by default */
.projDetail {
	font-size: medium;
	padding: 0 12px;
	display: none;
	overflow: hidden;
	background-color: var(--primary-color);
}

.collapsible:after {
	content: "\02795";
	/* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: left;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
	/* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: #ccc;
}

.card-container {
	display: flex;
	flex-flow: row wrap;
	gap: 3.5rem 2em;
	padding-top: 3.5rem;
	align-items: center;
	justify-content: space-evenly;
	/* background: linear-gradient(45deg, #fbda61, #ff5acd); */
}

 .card-container .card {
	position: relative;
	width: 225px;
	height: 160px;
	background: #fff;
	border-radius: 20px;
	margin: 0.5rem;
	box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);	
	transition: 0.2s;
}

.card:hover {
	height: 275px;
}

.card-container .imgBx {
	position:absolute;
	left: 50%;
	top: -50px;
	transform: translateX(-50%);
	width: 130px;
	height: 130px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	transition: 0.2s;
}

.card:hover .imgBx {
	width: 135px;
	height: 140px;
	z-index: 2;
}

.imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .content {
	position:absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.card .content .details {
	padding: 10px;
	text-align: center;
	width: 100%;
	transition: 0.2s;
	transform: translateY(100px);
}

.card:hover .content .details {
	transform: translateY(2.5rem);
}

.card .content .details h3 {
	font-size: 1em;
	font-weight: 450;
	color: var(--secondary-color);	
	line-height: 1.2rem;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
	border-radius: 5px;
	text-shadow: 2px 2px 5px var(--secondary-color);
	white-space: normal;
	overflow-wrap: break-word;
	padding: 10px;
}

.card .content .details h3 span {
	font-size: 0.75em;
	font-weight: 500;
	opacity: 0.8;
}

.card .content .details .data {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}

.card .content .details .data h4 {
	font-size: 1em;
	color: #555;
	line-height: 1.2em;
	font-weight: 600;
}

.card .content .details .data h4 span {
	font-size: 0.85em;
	font-weight: 400;
	opacity: 0.8;
}

.card .content .details .actionBtn {
	display: flex;
	justify-content: space-between;
}

.card .content .details .actionBtn button {
	padding: 10px;
	font-weight: lighter;
	font-size: 1em;
	border: none;
	outline: none;
	text-shadow: 0 0 10px var(--primary-color);
	box-shadow: inset;
	background: var(--secondary-color);
	color: var(--primary-color);
	border-radius: 5px;
	text-decoration: none;
	align-self: center;
	cursor: pointer;
}

.card .content .details .actionBtn button:nth-child(2) {
	border: 1.5px solid var(--secondary-color);
	color: var(--secondary-color);	
	background: var(--primary-color);
	
}

.contactList {
	justify-content: space-around;
}

.contactList ul,
.resumeList ul {
	list-style-type: none;
}

.text-block {
	font-size: x-small;
	position: relative;
	bottom: 25px;
	left: 0px;
	margin: 5%;
	line-height: 1.25;
	background-color: var(--color-block-text);
	padding: 5px;
}

.text-block h3,
.text-block p {
	text-align: center;
}

.chip {
	display: inline-block;
	padding: 0 15px;
	height: 50px;
	font-size: medium;
	line-height: 50px;
	border-radius: 25px;
	background-color: #f1f1f1;
}

.chip img {
	float: left;
	margin: 0 10px 0 -25px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.resumeList {
	justify-content: space-around;
}

.resume {
	display: inline-block;
	padding: 0 15px;
	height: 50px;
	font-size: medium;
	line-height: 50px;
}

.resume ul {
	list-style: none;
}

.resume ul li {
	width: 100%;
	height: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
	header {
		padding-bottom: 0;
		justify-content: center;
	}

	header h1,
	header h2 {
		width: 100%;
		text-align: center;
	}

	header nav {
		justify-content: space-evenly;
		flex-flow: column nowrap;
		gap: .5rem;
	}

	header nav ul {		
		margin-top: 10px;	
	}

	header nav ul li a {
		font-size: 20px;
		font-weight: normal;
		text-shadow: 0 0 10px rgb(0 0 0 / 100%);
	}

	footer h2,
	footer div {
		text-align: right;
		width: 100%;
	}

	.hero-subtitle,
	.hero-form {
		width: 100%;
	}

	.hero-subtitle {
		text-align: center;
	}

	.section-title {
		width: 80%;
	}

	#aboutMeRow {
		flex-direction: row;
		/* flex-wrap: inherit; */
	}

	.resumeList {
		justify-content: safe;
	}
	.chip,
	.resume {
		margin: 1ch;
	}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
	header nav {
		justify-content: space-evenly;
		flex-flow: column wrap;
		gap: .5rem;
	}

	header nav ul {
		justify-content: center;
	}

	header nav ul li {
		padding: 5px;
	}
	
	.content-part-img h3 {
		flex: 1 100%;
		text-align: center;
	}

	.content-text {
		flex: 2 100%;
		text-align: inherit;
		justify-content: center;
	}

	#aboutMeRow {
		flex-direction: row;
		flex-wrap: inherit;
	}

	.content-text ul li a {
		font-size: medium;
	}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
	header nav ul {	
		justify-content: center;
		font-size: smaller;
	}
	
	.section-title {
		width: 95%;
	}


	section {
		padding: 5px;
	}

	
	.content {
		grid-template-columns: none;
	}

	.content-title {
		border-bottom: 3px solid;
		border-right: none;
	}

	.content-title h2 {
		text-align: inherit;
	}

	.proPic {
		display: contents;
		justify-content: center;
	}

	.content-text-proPic p {
		text-align: left;
	}

	.content-text {
		flex: 2 100%;
		text-align: inherit;
		justify-content: center;
	}

	#aboutMeRow {
		flex-direction: row;
		flex-wrap: inherit;
	}

	.content-text ul li a {
		font-size: small;
	}

	.classDetail h4 {
		height: 75px;
	}

	.chip,
	.resume {
		font-size: small;
	}

	.classDetail-content {
		display: flex;
		flex: 1;
	}
}
